.icon-sprite-PNGBlack {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 512px;
  height: 512px;
}
.icon-sprite-PNGBlue {
  background-image: url(../img/sprite.png);
  background-position: 0px -512px;
  width: 512px;
  height: 512px;
}
.icon-sprite-PNGGreen {
  background-image: url(../img/sprite.png);
  background-position: 0px -1024px;
  width: 512px;
  height: 512px;
}
.icon-sprite-PNGPink {
  background-image: url(../img/sprite.png);
  background-position: 0px -1536px;
  width: 512px;
  height: 512px;
}
.icon-sprite-PNGSilver {
  background-image: url(../img/sprite.png);
  background-position: 0px -2048px;
  width: 512px;
  height: 512px;
}
